streamlit
langchain
langchain-community
langchain-chroma
langchain-core
langchain-groq
langgraph
chromadb
sentence-transformers
pypdf
tavily-python
python-dotenv
pandas
numpy
plotly
protobuf<4
langchain-huggingface